* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

a {
    text-decoration: none;
    color: black;   
}

a:hover {color: #c00;}

#modal {
    display: none;
}

nav:first-of-type {
    background: black;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
}

nav #navcontainer {
    width: 90%;
    margin: auto;
    color: white;
    display: flex;
    justify-content: space-between;
}