* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    font-family: Calibri, sans-serif;
}

a {
    text-decoration: none;
    color: black;   
}

a:hover {color: #c00;}

nav:first-of-type {
    background: black;
    border-bottom: 1px solid wheat;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
}

nav #navcontainer {
    width: 90%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#navcontainer > * {
    display: flex;
    justify-content: space-between;
    gap: 3rem;
    align-items: center;
}

#navcontainer i {cursor: pointer;}

#navcontainer > * > * {
    display: inline-block;
    color: white;
    font-size: 1.7rem;
    padding: .1rem 0;
}

#navcontainer > div:first-child > a:first-of-type {background: #c00; padding-top: .5rem;}

#navcontainer .nav-more {
    display: inline-block;
    cursor: pointer;
}

#navcontainer .nav-more:hover { font-weight: bold;}

#navcontainer .nav-more:hover > div{display: block;}

#navcontainer .nav-more > div{
    position: absolute;
    display: none;
    background: black;
}

#navcontainer .nav-more > div > *{
    display: block;
    width: ;
    padding: 1.5rem 1rem;
    border-bottom: .5px solid darkgray;
    color: white;
    font-weight: 100;
}

#navcontainer #login {
    background: black;
    border: 2px solid white;
    padding: .2rem .7rem;
    border-radius: 10px;
}

#navcontainer #login:hover { background: rgba(255, 255, 255, .3);}

#modal {
    position: fixed;
    top: 7%;
    bottom: 0%;
    left: 0%;
    right: 0%;
    background: black;
    color: white;
    padding: 4rem 6rem 0;
    font-size: 1.5rem;
}

#modal a {color: white;}

#modal > div:first-child {position: relative;}

#modal > div:first-child > input {
    width: 100%;
    padding: 1rem;
    border-radius: 5px;
}

#modal > div:first-child > input:focus {outline: none;}

#modal > div:first-child > input::placeholder {font-size: 1.5rem;}

#modal > div:first-child > a {
    position: absolute;
    right: 1.6%;
    color: black;
    top: 50%;
    transform: translate(0, -50%);
    white-space: pre;
    font-weight: bold;
}

#modal i {color: black;}

#modal > div:nth-child(2) {
    overflow: hidden;
    margin: 3rem 0 5rem;
    padding-bottom: 1.5rem;
    border-bottom: .5px solid darkgray;
}

#modal > div:nth-child(2) > * {
    display: inline-block;
    width: 14.2%;
    paddng-right: 16rem;
}