* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    font-family: Calibri, sans-serif;
    --maincolor: #c00;
    --normfsize: 1.5rem;
}

a {
    text-decoration: none;
    color: black;   
}

img {
    max-width: 100%;
    object-fit: cover;
    object-position: center;
}

body {overflow-x: hidden;}

a:hover {color: var(--maincolor);}

nav:first-of-type {
    background: black;
    border-bottom: .1px solid white;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 5;
    overflow: hidden;
}

nav #navcontainer {
    width: 90%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#navcontainer > * {
    display: flex;
    justify-content: space-between;
    gap: 3rem;
    align-items: center;
}

#navcontainer i {cursor: pointer;}

#navcontainer > * > * {
    display: inline-block;
    color: white;
    font-size: 1.7rem;
    padding: .1rem 0;
}

#navcontainer > div:first-child > a:first-of-type {background: var(--maincolor); padding-top: .5rem;}

#navcontainer .nav-more {
    display: inline-block;
    cursor: pointer;
    position: relative;
    z-index: 10;
}

#navcontainer .nav-more:hover { font-weight: bold;}

#navcontainer .nav-more:hover > div{display: block;}

#navcontainer .nav-more > div{
    position: absolute;
    display: none;
    background: black;
}

#navcontainer .nav-more > div > *{
    display: block;
    padding: 1.5rem 1rem;
    border-bottom: .5px solid darkgray;
    color: white;
    font-weight: 100;
}

a.login {
    background: black;
    border: 2px solid white;
    padding: .2rem .7rem !important;
    border-radius: 10px;
    cursor: pointer;
}

a.login:hover {text-decoration: none;}

a.login:hover { background: rgba(255, 255, 255, .3);}

.menu-modal {
    position: fixed;
    top: 4%;
    bottom: 0%;
    left: 0%;
    right: 0%;
    background: black;
    color: white;
    padding: 4rem 6rem 0;
    font-size: 1.5rem;
    display: block;
    z-index: 5;
}

.menu-modal > .edition{
    margin: 3rem 0 5rem;
    padding-bottom: 1.5rem;
    border-bottom: .5px solid darkgray;
}

.menu-modal > .edition > * {
    display: inline-block;
    width: 14.2%;
}

.menu-modal .dropedition:hover .dropdown {display: block;}

.dropedition {padding: 0 !important;}

.dropedition > h3 {margin-bottom: 1rem;}

.menu-modal .dropedition .dropdown > *{
    margin-bottom: .5rem;
}

.modal a {color: white;}

.modal > div:first-child {position: relative;}

.modal:last-of-type > div:first-child {z-index: 0;}

.modal > div:first-child > input {
    width: 100%;
    padding: 1rem;
    border-radius: 5px;
}

input:focus {outline: none;}

input::placeholder {font-size: 1.5rem;}

.modal > div:first-child > a:first-of-type {
    position: absolute;
    right: 1.6%;
    color: black;
    top: 50%;
    transform: translate(0, -50%);
    white-space: pre;
    font-weight: bold;

}

.modal > div:first-child > a:hover { text-decoration: none;}

.modal .appear {display: none;}

.modal i {color: black;}

.modal > .appear {
    display: none;
    text-align: center;
    padding: 4rem;
    font-size: 2rem;
}

.modal > .appear:nth-child(2) > p {
    margin-top: 1rem;
}

.modal > .appear:nth-child(3) {
    border: 1px solid darkgrey;
    border-style: solid none;
}

.modal .appear i {color: white;}

.bottomlinkscontainer {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-content: flex-start;
}
.bottomlinkscontainer > * {
    flex: 0 0 14.2%;
    align-content: flex-start;
    height: fit-content;
    margin-bottom: 3rem;
}

.bottomlinkscontainer > * > * {display: block;}

.bottomlinkscontainer > * > h3 {margin-bottom: 1rem;}

footer a:hover {
    color: white;
    text-decoration: underline;
}

nav#topnews {
    margin-top: 5rem;
    width: 80%;
    margin: 6rem auto 3rem;
    font-size: var(--normfsize);
    overflow: scroll;
    white-space: nowrap;
}

nav#topnews::-webkit-scrollbar {display: none;}

#topnews > * {
    padding: 0 1rem;
    border-right: 1px solid lightgrey;
}

#topnews span {color: var(--maincolor)}

#topnews a:hover, #topnews a:hover span:hover {color: var(--maincolor);}

#maincontent {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    row-gap: 1rem;
    column-gap: 2rem;
    width: 83%;
    margin: 0 auto 5rem;
    font-size: var(--normfsize);
    overflow-x: hidden;
}

#maincontent > * {
    flex: 1 1 28%;
    width: fit-content;
    height: fit-content;
}

#maincontent .wider {flex-basis: 37%;}

.wider:first-of-type > div:first-child {
    position: relative; 
    z-index: -1;
}

.wider:first-of-type h1 {
    font-size: 3.5rem;
    font-weight: 100;
    text-align: center;
}

.wider:first-of-type span {
    position: absolute;
    left: 0;
    bottom: 1%;
    color: white;
    background: var(--maincolor);
    padding: 1rem;
    font-weight: bold;
}

.wider:first-of-type h3 {margin: .7rem 0;}

#maincontent > div > a {
    display: block;
    padding: .7rem 0;
    border-top: 1px solid lightgrey;
}

#maincontent > div:nth-child(3) h2 {margin: .7rem 0;}

#maincontent > div > h3:first-child {
    background: #eeeded;
    padding: .7rem;
}

#maincontent > .newsnbuzz h2 {margin: .7rem 0;}

#maincontent .featured h2 {margin: .7rem 0;}

#maincontent .featured > div:not(:first-of-type) > a, .spotlight > div > a {
    display: flex;
    justify-content: space-between;
    gap: 2rem;
    border-top: 1px solid lightgray;
}

#maincontent .featured h3:not(:first-child) {
    font-weight: 100;
    font-size: 2.1rem;
}

.spotlight .ad {
    background: lightgray;
    height: 25rem;
    margin-bottom: 3rem;
    padding: 1rem;
}

.spotlight p {
    font-size: 1.7rem;
    margin-top: 1rem;
}

footer {
    background: black;
    color: white;
    padding: 6rem;
    font-size: 1.5rem;
    max-width: 100%;
}

footer .bottomlinkscontainer {margin-top: 4rem;}

footer #bottommenu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem 0;
    border-bottom: 1px solid grey;
    color: white;
    font-size: 1.6rem;
    margin-bottom: 3rem;
}

#bottommenu span:first-of-type {
    border-left: 1px solid grey;
    margin-left: 2rem;
    padding-left: 2rem;
}

#bottommenu > div {
    display: inline-flex;
    align-items: center;
}

#bottommenu > div > *{ height: 100%;}

#bottommenu .socialmedia {
    display: inline-block;
    border-right: 1px solid grey;
    padding: 0 2rem 0;
    margin-right: 2rem;
    align-self: flex-end;
}
#bottommenu i {
    color: white;
    margin: 0 1rem;
    font-size: 2.3rem;
}

footer .termsofuse > *{
    margin: 1rem;
    font-size: 1.6rem;
    line-height: 4rem;
}

footer #copyright {margin-top: 3rem;}


@media (max-width: 1024px) {
    
    #navcontainer > div > *:not(.nodiss) {display: none;}

    nav#topnews {
        width: 95%;
        font-size: 1.5rem;
    }

    section#maincontent {
        width: 95%;
        gap: 1rem;
    }

    .menu-modal {
        overflow-y: scroll;
    }

    .menu-modal .diss {display: none;}

    .modal > div:first-child {
        width: 90%;
        margin: auto;
    }

    .modal > div:first-of-type > a:first-of-type {display: none;}

    .modal > div:first-of-type .appear {
        display: inline;
        position: absolute;
        right: 2%;
        color: black;
        top: 52%;
        transform: translate(0, -50%);
        white-space: pre;
        font-weight: bold;
    }

    .modal .appear {display: block;}

    .bottomlinkscontainer {
        flex-direction: column;
        align-items: center;
        align-content: center;
        margin-bottom: 0;
    }

    .bottomlinkscontainer > * > h3 {font-weight: 100;}

    a[class="diss"] {display: none;}

    .appear {display: inline;}

    .bottomlinkscontainer > * {margin-bottom: .5rem;}

    .bottomlinkscontainer > div > *:not(.nodiss) {display: none;}

    footer {padding: 6rem 0 3rem;}

    footer #bottommenu {
        padding-top: 0;
        flex-direction: column;
        border: none;
        margin-bottom: 1rem;
    }

    footer #bottommenu .diss { display: none;}  

    footer #bottommenu > div  {
        margin-top: 2rem;
        display: flex;
        flex-direction: column;
        gap: 2rem;
    }

    footer #bottommenu > div > * {border: none;}

    footer div#bottommenu > div > span {
        border: none !important;
        margin: 0 !important;
        text-align: center;
        align-self: center;
        padding: 0 !important;
    }

    footer .termsofuse {
        margin-top: 0;
        text-align: center;
        width: 65%;
        margin: auto;
        font-size: 2rem;
        font-weight: 100;
    }

    footer .termsofuse > * {line-height: .5rem;}

    footer #copyright { 
        width: 65%;
        margin: auto;
        text-align: center;
        margin-top: 2rem;
    }
}

@media (max-width: 956px) {
    section#maincontent a:not(.headline), section#maincontent p, section#maincontent h3 {font-size: 2rem;}

    section#maincontent > * {flex-basis: 45%;}

    section#maincontent .wider {flex-basis: 100%;}

    section#maincontent img:not(.fsize) {width: 100%;}

    section#maincontent > div:first-of-type {order: 1;}

    section#maincontent > div:nth-of-type(2) {order: 2;}

    section#maincontent > div:nth-of-type(3) {order: 3;}

    section#maincontent > div:nth-of-type(4) {order: 5;}

    section#maincontent > div:nth-of-type(5) {order: 4;}

    section#maincontent > div:nth-of-type(6) {order: 6;}
}

@media (max-width: 640px) {
    section#maincontent > * {flex-basis: 100%;}

    section#maincontent > div img {
        margin: auto;
        text-align: center;
    }

}